@import '../../styles/mixins.scss';

.kindle-email-input {
  &__wrapper {
    @include wrapper-column-flex;
    gap: 5px;
  }

  &__title-wrapper {
    display: flex;
    gap: 5px;
  }

  &__title-name {
    font-weight: 600;
  }

  &__form-wrapper {
    display: flex;
    gap: 5px;
  }

  &__element-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  &__label {
    width: min(150px);
  }

  &__input {
    @include input;
    padding: 3px 7px;
  }

  &__button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--blue);
    border-radius: 5px;
    padding: 7px;
    color: var(--basic-white);
    transition: opacity linear 0.3s;

    &:hover {
      opacity: 0.8;
    }
  }
}
