.navbar {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
    padding: 3vh 2vw;
  }

  &__item:hover {
    color: var(--blue);
    cursor: pointer;
  }

  &__item:last-child {
    margin-left: auto;
  }

  &__link {
    text-decoration: none;
  }
}
