.navbar {
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__item {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-light);
    padding: 3vh 2vw;

    &:first-child {
      font-weight: 600;
    }

    &:hover {
      color: var(--blue);
      cursor: pointer;
    }

    &:last-child {
      margin-left: auto;
    }

    &:hover:first-child {
      color: var(--text-light);
      cursor: default;
    }
  }

  &__link {
    text-decoration: none;
  }
}
