@mixin wrapper-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

@mixin auth-column-flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10vh;
}

@mixin auth-content {
  border-radius: 10px;
  padding: 12vh 0;
  background-color: var(--basic-white);
}

@mixin input {
  width: 100%;
  border: 2px solid transparent;
  outline: none;
  color: inherit;

  &:focus {
    transition: border-bottom-color linear 0.2s;
    border-bottom-color: var(--blue);
  }
}
