.main-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__page-content {
    width: 80vw;
    margin: 0 auto;
  }

  &__footer {
    width: 80vw;
    margin: auto auto 0;
  }
}

@media screen and (max-width: 767px) {
  .main-layout {
    &__page-content,
    &__footer {
      width: 100%;
    }
  }
}
