.main-layout {
  height: 100vh;
  background-color: var(--main-bg);

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  & .header {
    background-color: var(--header-bg);
  }

  & .content {
    width: 80vw;
    margin: 0 auto;
    flex-grow: 2;
  }

  & .footer {
    background-color: var(--footer-bg);
  }
}

@media screen and (max-width: 767px) {
  .main-layout {
    & .content,
    & .footer {
      width: 100%;
    }
  }
}
