.footer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    gap: 45px;
    width: 100%;
    margin: 0 auto;
  }

  &__switcher {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__switcher:nth-child(2) {
    margin-right: auto;
  }

  &__link {
    color: var(--basic-black);
    text-decoration: none;
  }

  &__copyright {
    font-size: 0.85rem;
  }
}

.theme-switcher {
  &__options {
    display: flex;
    padding: 0;
    gap: 2px;
  }
}

.language-switcher {
  &__options {
    display: flex;
    padding: 0;
    gap: 2px;
  }
}

.option {
  font-size: 0.9rem;

  &_active {
    border: 1px solid var(--light-yellow);
    background-color: var(--light-yellow);
    border-radius: 5px;
  }
}
