.article-card {
  background-color: var(--basic-white);

  &__wrapper {
    height: 100%;
    border: 2px solid var(--light-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
  }

  &__item {
    word-wrap: break-word;
  }
}
